{% extends 'article/base.html' %}

{% block content %}
                {% for post in article %}
                    <div class="post">
                         {% if post.article_published_date %}
                        <div class="date">

                            {{ post.article_published_date }}

                        </div>
                        {% endif %}
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.article_title }}</a></h1>
                        <p>{{ post.article_text|linebreaksbr }}</p>
                    </div>
                {% endfor %}

{% endblock content %}
